
.waterfallimg{
      background-image: url("../images/waterfall.jpeg");
    }

.rainimg{
    background-image: url("../images/rain.jpeg");
}

.jungleimg{
    background-image: url("../images/jungle.jpg");
}

.seaimg{
    background-image: url("../images/sea.jpg");
}

.calmimg{
    background-image: url("../images/calm.jpeg");
}

.rainforestimg{
    background-image: url("../images/rainforest.jpg");
}

.stormimg{
    background-image: url("../images/storm.jpg");
}

.fireplaceimg{
    background-image: url("../images/fireplace.jpeg");
}

body{
  background-color: black;
  color: white;
  font-family: Blackout Midnight;
  text-shadow: 2px 2px #000000;
}

a, a:hover, a:active{
  color: white;
}

@font-face {
  font-family:"Blackout Midnight";
  src:url("Blackout-Midnight.eot?") format("eot"),url("Blackout-Midnight.woff") format("woff"),url("Blackout-Midnight.ttf") format("truetype"),url("Blackout-Midnight.svg#Blackout-Midnight") format("svg");
  font-weight:normal;
  font-style:normal;
}
