@media screen and (min-width: 480px) {
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    }
}

@media screen and (min-width: 940px) {
.container-fluid {
    padding-right: 15%;
    padding-left: 15%;
    }
}

.avanslogo {
    height: 25px;
    width: auto;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #C6002A;
}

@media screen and (min-width: 480px) {
.navbar-brand
{
    padding-left: 15px;
    }
}

@media screen and (min-width: 940px) {
.navbar-brand
{
    padding-left: 0;
    }
}

.headerimg
{
  height: auto;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

body
{
  background-color: rgb(34, 34, 34);
  color: white;
}

.center{
  text-align: center;
}

.table >tbody >tr >td {
    border-top: 0px solid #3a3a3a;
}

.colored {
    border-top: 15px solid rgb(34, 34, 34) !important;
    border-bottom: 15px solid rgb(34, 34, 34);
    background-color: #C6002A;
}

.vakken-link
{
color: white;
}

.vakken-link :hover
{
color: #3a3a3a; 
}
